doctype
html
  head
    title Ajax API Tutorial


  body
    h1 Ajax API Tutorial

    button#get-button Read/Get Products
    form#create-form
      input#create-input(type="text")
      button create

    table
      thead
        tr
          th ID
          th Name
          th Active
      tbody

  script(src="jquery.js")
  script(src="tScripts.js")
